asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
cloudinary==1.44.2
Django==6.0.3
django-cloudinary-storage==0.3.0
gunicorn==25.3.0
idna==3.13
packaging==26.2
pillow==12.1.1
requests==2.33.1
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.12.0
