
/* =========================================
   NAVBAR
========================================= */

.navbar {
  background-color: var(--color-navy-primary);
  color: var(--text-on-dark-primary);
  box-shadow: var(--shadow-soft);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--text-on-dark-primary);
}
.navbar a{
  text-decoration: none;
  color: var(--text-on-dark-primary);

}

.nav-container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 18px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* .logo {
    font-family: var(--font-heading);
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
} */

.logo img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}


.nav-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5rem;
}
.nav-right .nav-socials{
  font-size: 1.7rem;
  display: flex;
  gap: 1.4rem;
}
.nav-links {
    display: flex;
    gap: 28px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-on-dark-primary);
    font-size: 15px;
    transition: 0.3s ease;
    position: relative;
}

/* Gold underline hover */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: var(--color-gold-accent);
    transition: 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* =========================================
   HAMBURGER
========================================= */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 33px;
    height: 5px;
    background-color: var(--text-on-dark-primary);
    border-radius: 2px;
}

/* =========================================
   MOBILE
========================================= */

@media (max-width: 900px) {
    .logo img{
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
    .nav-container{
      display: flex;
      align-items: center;
    }
    .nav-right {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--color-navy-primary);
      flex-direction: column;
      width: 100%;
      padding: 0 20px; /* remove vertical padding initially */

      max-height: 0;
      overflow: hidden;
      opacity: 0;

      transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;

    }

    .nav-links a {
        padding: 10px 0;
        font-size: 16px;
    }

    .nav-right.active {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-height: 500px; /* must be larger than content height */
        opacity: 1;
        padding: 30px 20px;
    }
    .nav-links.active{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .hamburger {
        display: flex;
    }
}
